{% extends "base.html" %}
{% block title %}Lista de Salas{% endblock %}
{% block content %}
<div class="row mt-4 justify-content-center">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header bg-light">
        <h1 class="text-center">Lista de Salas</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Tipo</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ativa</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            {% if erro %}
            <p class="text-danger"> {{erro}} </p>
            {% endif %}
            {% if salas %}
            <tbody>
              {% for sala in salas %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{ sala[0] }}</td>
                <td>{{ sala[1] }}</td>
                <td>{{ sala[2] }}</td>
                <td>Sim</td>
                <td>
                  <form action="">
                    <button class="btn btn-sm btn-success" type="submit" formaction="/cadastrar_sala">Editar</button>
                    <button class="btn btn-sm btn-secondary" type="submit" formaction="/reservas">Desativar</button>
                    <button class="btn btn-sm btn-danger" type="submit" formaction="/reservas">Excluir</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
            {% endif %}

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}