{% extends "base.html" %}
{% block title %}Minhas Reservas{% endblock %}
{% block content %}
<div class="row mt-4">
    <div class="col">
      <h1>Reservas</h1>
    </div>
  </div>
  <form action="/filtrar" method="POST" > 
    <div class="row mt-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="nome" value="{{nome}}">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="sobrenome" >
      </div>
      <div class="col">
        <button class="btn btn-dark" type="submit">Filtrar</button>
      </div>
    </div>
    </form>
    <p>Seja Bem-Vindo {{nome_usuario}}</p>

  {% if reservas %} 
  {% for dados in reservas %}

  <h2>Reserva {{loop.index}}</h2>
  <p>Nome: {{ dados[0] }}</p>
  <p>Sobrenome: {{ dados[1] }}</p>
  <p>Sala: {{ dados[2] }}</p>
  <p>Data de Início: {{ dados[3] }}</p>
  <p>Hora de Início: {{ dados[4] }}</p>
  <p>Data Final: {{ dados[5] }}</p>
  <p>Hora Final: {{ dados[6] }}</p>

  {% endfor %}
  {% endif %}
  {{erro}}
</div>
{% endblock %}


